.button {
    -fx-font-weight: bold;
}
.aprovado{
    -fx-mid-text-color:green;
    -fx-font-weight: bold;
}
.reprovado{
    -fx-mid-text-color:red;
    -fx-font-weight: bold;
}
.aniversariante{
    -fx-font-weight: bold;
}